<div class="container">
  <div class="main-content">
    <img id="main-image" class="mb-4" src="https://i.scdn.co/image/dbff462d80ff9801a1110db711302935fc427521">
    <h5 class="mb-">The Same Way ft. KiFi</h5>
    <p class="h6 mb-4 font-weight-normal">Don Diablo</p>
    <ul class="list-group list-group-flush">
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/spotify.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/apple-music.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/youtube.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/beatport.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/deezer.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">
          <img src="https://st.toneden.io/production/images/link-services/itunes.png">
        </li>
      </a>
      <a href="https://fanlink.to/TheSameWay">
        <li class="list-group-item">SoundCloud</li>
      </a>
    </ul>
  </div>
</div>

<div class="bg-image"></div>
